

body {
  background-color: lightgrey;
  font-size: 20px;
}

.intro-header {
  margin-bottom: 30px;
}

footer {
    padding: 0px 0px 30px;
}

h1, h2, h3, h4, h5, h6, body {
    font-family: 'Ubuntu', sans-serif;
}

.intro-header .site-heading .subheading, .intro-header .page-heading .subheading,.intro-header .post-heading .meta  {

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;

}

/*
.post-preview > .post-meta {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: darkgrey;
}


.post-preview > a > .post-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: purple;
}
*/

/*Post Preview styles*/

.post-preview > a {
  color: #404040;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085a1;
}
.post-preview > a > .post-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: purple;
}

.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 5px;
}
.post-preview > .post-meta {
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size: 16px;
  font-style: italic;
  margin-top: 0;
}


.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085a1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.nav, .navbar-default, .navbar-header, .navbar-custom, .navbar {
    font-family:  'Ubuntu', sans-serif;
    color: purple;
}

.navbar-brand {
    font-size: 24px;
    text-align: center;
    color: purple;
}

.navbar-default .navbar-brand {
    color: purple;
}

.navbar-default .navbar-text {
    color: purple;
}

@media (max-width: 767px)
{
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
}

.navbar-default .navbar-link {
    color: purple;
}

.navbar-default .btn-link {
    color: purple;
}

.navbar-default .navbar-nav > li > a {
    color: purple;
}


.ytcontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog-posts {
    list-style: none;
}

.blog-title {
    font-size: 14px;
    float: left;
}

.blog-date {
    font-size: 14px;
    float: right;
}

.wrapper {
    max-width: 768px;
    margin: auto;
    
}

.container {
    max-width: 768px;
    margin: auto;
    
}

.logo {
    font-family:  'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    color: purple;
}

.logo-wrapper > a:hover {
    text-decoration: none;
}

.logo-wrapper {
    text-align: center;
    padding: 10px 25px;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu > li {
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 0 0 5px 0;
}

.menu > li > a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px 0 10px;
}

.menu > li > a:hover {
    color: purple;
    text-decoration: none;
}

 .menuborder {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.pagetitle {
    color: white;
    text-align: center;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
    color: white;
    text-align: center;
}

.jumbotron {
    min-height: 500px;
    background-size: cover;
}

.blogarchive > a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.blogarchive > a:hover {
    color: purple;
}
