body {
    color: purple;
    margin: 60px auto;
    width: 100%;
}

header {
  color: purple;
  font-family: 'Roboto Condensed', sans-serif;
}

nav ul, nav a, footer ul {
    color: purple;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;

}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    colour: purple;
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 24px;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.navbar-default .navbar-brand {
  color: purple;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
